@page
@model WebApplication1.Pages.Errors._403Model
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="text-danger">403 - Access Denied</h1>
    <p>You do not have permission to access this page.</p>
    <p>If you believe this is an error, please contact support or return to the <a href="/">home page</a>.</p>
</div>
