@page
@model WebApplication1.Pages.Errors._500Model
@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="text-center">
    <h1 class="text-danger">500 - Internal Server Error</h1>
    <p>Oops! Something went wrong on our end.</p>
    <p>Please try again later or contact support if the problem persists.</p>
    <p>You can return to the <a href="/">home page</a>.</p>
</div>